body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe td {
  border: none;
  border-bottom: 0.5px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 12px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

table.dataframe th {
  border: none;
  border-bottom: 0.5px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 12px;
  margin-bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.gender th {
    background-color: cornflowerblue;
    color: black;
}

.product th {
    background-color: darkcyan;
    color: beige;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}